body{
    background-color: #1e1f25;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}
.button-border{
    background:  linear-gradient(115deg, #eeaf61, #fb9062, #ee5d6c, #ce4993,#6a0d83);
    padding: 2px;
}
.button {
    border: none;
    background-color: #1e1f25;
    color: #cbcbcb;
    font-family: sans-serif;
    padding: 1em 1.5em;
    letter-spacing: .1em;
}
.button-border:hover{
    background: linear-gradient(230deg, #eeaf61, #fb9062, #ee5d6c, #ce4993,#6a0d83); 
}
.button-border:hover .button{
    color: #fff;
    padding: 1.1em 1.6em;
}